<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{% static 'src/css/output.css' %}"
    />
    <script>
      if (
        localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <title>MediaDownloader</title>
  </head>
  <body class="bg-white dark:bg-gray-800">
    {% include "layout/navbar/navbar.html" %}
    <main>{% block content %}{% endblock content %}</main>
    {% include "layout/footer/footer.html" %}

    <script src="{% static 'src/js/navbar-toggle.js' %}"></script>
    <script src="{% static 'src/js/theme-toggle.js' %}"></script>
  </body>
</html>
